

// --------------------
// Definition of variables
// $primary: #1ebbff;
// Palette 1
// $primary: rgb(114, 158, 161);
// $secondary: rgb(181, 189, 137);
// $orange: rgb(236, 145, 146);
// $warning: rgb(223, 190, 153);
// $danger: rgb(219, 83, 117);
// $marginBottomNavbar: 0px;
// $navbarHeight: 60px;

// Palette 2
$primary: #1f232d;
$secondary: lightcoral;
$terciary: rgb(236, 145, 146);
$background1: #1f232d;
$background2: rgb(61, 78, 91);
$shadow: lightgray;
$warning: rgb(223, 190, 153);
$danger: rgb(219, 83, 117);
$buy: #984447;
$marginBottomNavbar: 0px;
$navbarHeight: 60px;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  color: rgb(72, 72, 72);
}
a {
  text-decoration: none;
}

input:focus {
  outline:0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.2);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgrey;
}
.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: $danger;
}

.btn {
  background-color: rgb(215, 121, 118);
  padding: 2px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  box-shadow: 0 2px 5px grey;
  transition: all 0.25s;
  font-size: 0.9em;
}
.btn:hover {
  background-color: hsl(2, 55%, 60%);
  color: white;
  transition: all 0.25s;
}
.btn:focus {
  outline:0;
  background-color: hsl(2, 55%, 60%);
}

.btn-second {
  background-color: white;
  font-size: 0.9em;
  border-radius: 20px;
  border: 1px solid $secondary;
  padding: 0 20px;
  height: auto;
  color: $secondary;
  transition: all 0.15s;

}
.btn-second:hover {
  background-color: $secondary;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 7px lightgrey;
  transition: all 0.15s;
}
// --------------------
// Style for App component
.App {
  .App-header {
    background-color: $primary;
    color: white;
    width: 100%;
    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }
}

.MainNavbar {
  height: $navbarHeight;
  margin-bottom: $marginBottomNavbar;
  border: none;
  z-index: 999;
  width: 100%;
  position: fixed;
  transition: all 0.25s;
  .logo {
    height: 150px;
    padding-bottom: 4px;
  }
  .navbar-brand {
    padding: 4px 0 0 0;
  }
}
.hasShadow {
  box-shadow: 0 0 15px black;
  transition: all 1s;
}
.empty-div {
  height: $navbarHeight;
}

// --------------------
// Style for Home component
.home {
  // background-image: linear-gradient(lightgrey, grey);
  // background-color: $background1;
  h2 {
    text-align: center;
    font-weight: bold;
  }
  h3 {
    text-align: center;
  }
}
.search-box {
  background-color: #1F232D;;
  height: 100px; 
  display: grid;
  justify-content: center;
  align-content: center;
  form {
    text-align: center;
  }
  input {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 1); 
    border: none;
    border-radius: 5px;
    width: 400px;
    max-width: 90%;
    text-align: center;
    padding: 10px 30px;
    transition: all 0.25s;
  }
  .active-input {
    transition: all 0.25s;
    background-color: rgba(255, 255, 255, 0.1);
  }
}
.categories-section {
  background-image: linear-gradient($background2, $background1);
  margin: 0 0 20px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  justify-items: center;
  h3 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2em;
    font-weight: bold;
  }
  .categories-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    text-align: center;
    img {
      height: 30px;
      margin-bottom: 10px;
    }
    p {
      font-size: 0.9em;

    }
    .category-button {
      box-sizing: border-box;
      // margin: 0 5px;
      padding-top: 10px;
      width: 100%;
      height: 80px;
      transition: all 0.25s;
      color: white;
    }
    .category-button:hover {
      box-sizing: border-box;
      border-bottom: 3px solid $secondary;
      text-decoration: none;
      transition: all 0.25s;
    }
    .isActive {
      background-color: $primary;
      // border-radius: 5px;
      border-top-left-radius: 5px; 
      border-top-right-radius: 5px; 
      text-decoration: none;
      transition: all 0.25s;
    }
  }
}
@media only screen and (max-width: 850px) {
  .categories-section {
    .categories-container {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
      img {
        height: 25px;
      }
      .category-button {
        transition: all 0.25s;
        color: white;
        margin-bottom: 5px;
      }
    }
  }
}

.Item {
  p {
    font-size: 1.2em;
  }
}

.Items {
  margin-top: -$marginBottomNavbar;

  .row {
    height: calc(100vh - #{$navbarHeight});
    
    .col-text {
      padding: 20px;
      overflow-y: scroll;

      h2 {
        text-align: center;
      }

      h4 {
        margin-top: 40px;
      }
    }

    .map {
      height: 100px;
      // height: calc(100vh - #{$navbarHeight});
    }
  }
}

.Login-signup-page, .Login, .Signup, {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.text-input{
  text-align: center;
  border-radius: 10px;
  letter-spacing: 1px;
  margin: 4px;
}

.or{
  display: flex;
}

.inner-or{
  display: flex;
  margin: auto;
}

hr{
    border: 0;
    height: 0;
    width:20vw;
    margin: auto 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.please-confirm{
  margin: 50px auto;
  text-align: center;
}

.please-confirm-image{
  margin-top: 50px;
}

.item-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-detail-buttons{
  display: flex;
  button{
    margin: 20px;
  }
}

.item-detail-map{
  margin: 0 auto;
  max-width: 400px;
  min-width: 300px;
}


// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

// --------------------
// Style for ItemCard component
.itemCards-container {
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  width: 100%;
  justify-content: center;
  width: auto;
  margin: 0 auto;
}
.itemCard {
  position: relative;
  display: flex;
  flex-flow: column;
  border-radius: 3px;
  box-shadow: 0 5px 20px hsl(0, 0%, 83%);
  background-color: #fff;
  transition: box-shadow 0.5s;
  margin: 15px 10px;
  padding: 10px 0 20px;
  max-width: 250px;
  h5 {
    font-weight: bold;
    margin-left: 10px; 
    font-size: 1em;
  }
  .itemCard-img-wrapper {
    img {
      margin: 0 auto;
      object-fit: contain;
      max-width: 100%;
      max-height: 355px;
      height: auto; 
    }
  }
  .itemCard-sub-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:10px;
    font-size: 1em;
    h6 {
      // margin: 10px;
      font-size: 0.9em;
    }
    a { 
      color: $buy;
    }
  }
  p {
    margin: 10px 10px 40px 10px; 
    font-size: 0.9em;
  }

  .itemCard-btn-div {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 15px;
    margin-bottom: 0;
  }


}
.itemCard:hover {
  box-shadow: 0 7px 20px hsl(0, 0%, 70%);
  transition: box-shadow 0.5s;
}
@media only screen and (max-width: 850px) {
  .itemCard {
    max-width: 95%;
  }
}