

// --------------------
// Definition of variables
// $primary: #1ebbff;
// Palette 1
// $primary: rgb(114, 158, 161);
// $secondary: rgb(181, 189, 137);
// $orange: rgb(236, 145, 146);
// $warning: rgb(223, 190, 153);
// $danger: rgb(219, 83, 117);
// $marginBottomNavbar: 0px;
// $navbarHeight: 60px;

// Palette 2
$primary: #1f232d;
$secondary: lightcoral;
$terciary: rgb(236, 145, 146);
$background1: #1f232d;
$background2: rgb(61, 78, 91);
$shadow: lightgray;
$warning: rgb(223, 190, 153);
$danger: rgb(219, 83, 117);
$buy: lightcoral;
$marginBottomNavbar: 0px;
$navbarHeight: 70px;

// Palette 3
// $primary: #403F4C;
// $secondary: #3A7CA5;
// $terciary: rgb(236, 145, 146);
// $background1: $primary;
// $background2: #713E5A;
// $shadow: lightgray;
// $warning: rgb(223, 190, 153);
// $danger: rgb(219, 83, 117);
// $buy: lightcoral;
// $marginBottomNavbar: 0px;
// $navbarHeight: 60px;


// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100% !important;
  color: rgb(72, 72, 72);
  background-color: $background1;
}

a {
  text-decoration: none !important;
}

input:focus {
  outline:0;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.2);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: lightgrey;
}
.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: $danger;
}

.btn {
  background-color: rgb(215, 121, 118);
  padding: 2px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  box-shadow: 0 2px 5px grey;
  transition: all 0.25s;
  font-size: 0.9em;
}
.btn:hover {
  background-color: hsl(2, 55%, 60%);
  color: white;
  transition: all 0.25s;
}
.btn:focus {
  outline: 0;
  background-color: hsl(2, 55%, 60%);
}

.btn-second {
  background-color: white;
  font-size: 0.85em;
  border-radius: 20px;
  border: 1px solid $secondary;
  padding: 0 20px;
  height: 20px;
  color: $secondary;
  transition: all 0.15s;
  align-self: flex-end;
}
.btn-second:hover {
  background-color: $secondary;
  color: white;
  cursor: pointer;
  box-shadow: 0 2px 7px lightgrey;
  transition: all 0.15s;
}
.btn-second:focus {
  outline: 0;
}
.btn-map {
  background: none;
  color: lightcoral;
  box-shadow: none;
  padding: 0;
  border: none;

  h6 {
    font-size: 1em;
  }
}
.btn-map:hover {
  background: none !important;
  color: hsl(0, 79%, 65%);
  border: none !important;
  cursor: pointer;
}
btn-map:focus {
  border: none !important;
  background: none !important;
  background-color: rgb(255, 255, 255) !important;
  outline: none !important;
}
btn-map:active {
  border: none !important;
  background: none !important;
  background-color: rgba(0, 0, 0, 0) !important;
  outline: none !important;
}
// --------------------
// Style for App component
.App {
  .App-header {
    background-color: $primary;
    color: white;
    width: 100%;
    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }
}
nav {
  height: $navbarHeight;
  z-index: 999;
  width: 100%;
  position: fixed;
  transition: all 0.25s;
}
.navbar {
  padding: 0 10px;
}
.MainNavbar {
  height: $navbarHeight;
  margin-bottom: $marginBottomNavbar;
  border: none;
  z-index: 999;
  width: 100%;
  position: fixed;
  transition: all 0.25s;
  // vertical-align: center;
  .logo {
    height: 40px;
    padding-bottom: 4px;
  }
  .navbar-brand {
    padding: 4px 0 0 0;
  }
}
.navbar-collapse {
  background-color: $background1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 150px;
  padding: 10px;
  margin-left: 20px;
}
.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.navbar-img {
  border-radius: 50px;
  height: 30px;
}
.nav-item {
  vertical-align: center;
}
.hasShadow {
  box-shadow: 0 0 15px black;
  transition: all 1s;
}
.empty-div {
  height: $navbarHeight;
}

// --------------------
// Style for Home component
.home {
  // background-image: linear-gradient(lightgrey, grey);
  background-color: $background1;
  h2 {
    text-align: center;
    font-weight: bold;
  }
  h3 {
    text-align: center;
    font-size: 1.3em;
    color: rgba(255, 255, 255, 0.9);
  }
}
.search-box {
  background-color: #1F232D;;
  height: 100px; 
  display: grid;
  justify-content: center;
  align-content: center;
  form {
    text-align: center;
  }
  input {
    background-color: rgba(255, 255, 255, 0.3);
    background-image: url("/images/magnifying-glass (white).png");
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: 95% 50%;
    color: rgba(255, 255, 255, 1); 
    border: none;
    border-radius: 5px;
    width: 400px;
    height: 40px; 
    max-width: 90%;
    text-align: center;
    padding: 10px 30px;
    transition: all 0.25s;
  }
  .active-input {
    transition: all 0.25s;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.1);

  }
}
.categories-section {
  background-image: linear-gradient($background2, $background1);
  margin: 0 0 20px;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  justify-content: center;
  justify-items: center;
  h3 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2em;
    font-weight: bold;
  }
  .categories-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    text-align: center;
    img {
      height: 30px;
      margin-bottom: 10px;
    }
    p {
      font-size: 0.9em;

    }
    .category-button {
      box-sizing: border-box;
      // margin: 0 5px;
      padding-top: 10px;
      width: 100%;
      height: 80px;
      transition: all 0.25s;
      color: white;
    }
    .category-button:hover {
      box-sizing: border-box;
      border-bottom: 3px solid $secondary;
      text-decoration: none;
      transition: all 0.25s;
    }
    .isActive {
      background-color: $primary;
      // border-radius: 5px;
      border-top-left-radius: 5px; 
      border-top-right-radius: 5px; 
      text-decoration: none;
      transition: all 0.25s;
    }
  }
}
@media only screen and (max-width: 850px) {
  .categories-section {
    .categories-container {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
      img {
        height: 25px;
      }
      .category-button {
        transition: all 0.25s;
        color: white;
        margin-bottom: 5px;
      }
    }
  }
}

.Item {
  p {
    font-size: 1.2em;
  }
}

.Items {
  margin-top: -$marginBottomNavbar;

  .row {
    height: calc(100vh - #{$navbarHeight});
    
    .col-text {
      padding: 20px;
      overflow-y: scroll;

      h2 {
        text-align: center;
      }

      h4 {
        margin-top: 40px;
      }
    }

    .map {
      height: 100px;
      // height: calc(100vh - #{$navbarHeight});
    }
  }
}
.container {
  min-width: 350px;
  width: 100%;
  margin: auto;
  // text-align: center;
  background-color: $background1 !important;
}
.login-general-wrapper {
  display: grid;
  align-content: center;
  position: relative;
  top: 70px;
}
.signup-general-wrapper {
  display: grid;
  align-content: center;
  position: relative;
  bottom: 70px;
}
.Login-signup-page {
  display: grid;
  justify-content: center;
  align-content: space-around;
  min-width: 350px;
  width: 100%;
  height: 100vh;
  text-align: center;
  background-color: $background1 !important;
  h2 {
    font-size: 1.5em;
    color: white;
  }
  form {
    display: grid;
    justify-content: stretch;
    input {
      border: none;
      text-align: center;
    font-size: 0.9em;

    }
  }
  .Signup {
    height: 150px;
  }
}
.Login-form {
  min-width: 95%;;
}
.btn-login-signup {
  margin-top: 10px;
  font-size: 1em;
  width: 100px;
  height: auto;
  transition: all 0.25s;
  background-color: rgba(0, 0, 0, 0);
}
.btn-login-signup:hover {
  box-shadow: 0 2px 20px hsl(223, 18%, 5%);
  transition: all 0.25s;
}
.text-input {
  display: grid;
  justify-content: center;
  color: white;
  font-size: 1.2em;
  background-color: rgba(255, 255, 255, 0.3);
  height: 40px; 
  margin: 5px;
  border: none;
  border-radius: 5px;

  form {
    justify-content: center;
    text-align: center;
  }
  // .form-control {
  //   background-color: rgba(255, 255, 255, 0.3);
  //   background-image: url("/images/magnifying-glass (white).png");
  //   background-repeat: no-repeat;
  //   background-size: 15px;
  //   background-position: 95% 50%;
  //   color: rgba(255, 255, 255, 1); 
  //   border: none;
  //   border-radius: 5px;
  //   width: 400px;
  //   max-width: 90%;
  //   text-align: center;
  //   padding: 10px 30px;
  //   transition: all 0.25s;
  // }
  .active-input {
    transition: all 0.25s;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.1);

  }
}

.or{
  display: flex;
  justify-content: center;
  height: 20px;
}

.inner-or{
  display: flex;
  margin: auto;
}

hr{
    border: 0;
    height: 0;
    width:20vw;
    margin: auto 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.please-confirm{
  margin: 50px auto;
  text-align: center;
}

.please-confirm-image{
  margin-top: 50px;
}

// style for the file input button
.input-file {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

label {
	cursor: pointer; /* "hand" cursor */
}

label:hover {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

// style for the profile page
.profile-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background1;
  h1{
    margin: 20px auto;
  }
}

.profile-form-div{
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  letter-spacing: 1px;
  .file-input{
    height: 0px;
    overflow: hidden;
  }
  input{
      text-align: center;
      border-radius: 10px;
      letter-spacing: 1px;
      margin: 4px;
  }
  .user-img{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
  .user-button{
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }
}

.profile-items-h2{
  margin: 30px auto 15px;
  border-bottom: 1px $primary solid;
}

.item-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-detail img{
  max-width: 400px;
}

.item-detail-buttons{
  display: flex;
  button{
    margin: 20px;
  }
}

.item-detail-map{
  margin: 0 auto;
  max-width: 400px;
  min-width: 300px;
}


// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

// --------------------
// Style for ItemCard component
.itemCards-container {
  display: flex;
  flex-flow: wrap;
  align-content: flex-start;
  // width: 100%;
  justify-content: center;
  // width: auto;
  margin: 0 auto;
}
.itemCard {
  position: relative;
  display: flex;
  flex-flow: column;
  border-radius: 3px;
  // box-shadow: 0 5px 20px hsl(223, 18%, 5%);
  box-shadow: 0 5px 20px black;
  background-color: #fff;
  transition: box-shadow 0.5s;
  margin: 15px 10px;
  padding: 10px 0 20px;
  width: 95%;
  max-width: 250px;
  h5 {
    font-weight: bold;
    margin-left: 10px; 
    font-size: 1em;
  }
  .itemCard-img-wrapper {
    display: grid;
    justify-content: center;
    img {
      margin: 0 auto;
      object-fit: contain;
      max-width: 100%;
      max-height: 355px;
      height: auto; 
    }
  }
  .itemCard-sub-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding:10px;
    font-size: 1em;
    h6 {
      font-size: 0.9em;
      font-weight: 1000;
    }
    a { 
      color: $buy;
    }
    a:hover {
      cursor: pointer;
      color: hsl(0, 79%, 65%);
    }
  }
  .map-modal-div {
    margin: 10px 10px 40px; 
    font-size: 0.9em;
  }

  .itemCard-btn-div {
    display: flex;
    width: 100%;
    // text-align: center;
    position: absolute;
    bottom: 15px;
    margin-bottom: 0;
    padding: 0 10px;
    align-content: flex-end;
    height: 1px;
    .editAndDelete{
      display: flex;
      margin-left: auto;
      position: relative;
      top: 3px;
      align-self: flex-end;
      // height: auto;
    }
  }
  #map-modal-link {
    color: $buy;
  }
  #map-modal-link:hover {
    cursor: pointer;
    color: hsl(0, 79%, 65%);
  }
}
.item-edit {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.item-delete {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;

}
.itemCard:hover {
  // box-shadow: 0 7px 20px hsl(0, 0%, 70%);
  box-shadow: 0 7px 20px black;
  transition: box-shadow 0.5s;
}
.modal {
  display: grid !important;
  align-content: center;
  align-items: center;
}
#availability-calendar {
  display: grid;
  width: 100%;
  justify-content: center;
}
.react-calendar {
  border: none !important;
  border-radius: 5px;
  box-shadow: 0 5px 20px black;
}
.react-calendar__tile {
  font-size: 0.8em;
}
.react-calendar__month-view__days__day--weekend {
  color: lightcoral !important;
}

//OVERRIDE REACT-CALENDAR TILE ACTIVE
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: rgba(0, 110, 220, 0) !important;
  color: black !important;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar__tile--active--custom {
  background: lightcoral !important;
  color: white !important;
}
//END OF OVERRIDE

.modal-content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
}
.modal-header {
  border: none;
}
.modal-title {
  color: white;
  text-align: center;
}
.modal-footer {
  border: none;
  color: white !important;
  justify-content: center;
  text-align: center;
  p {
    color: white !important;
  }
  button {
    background-color: rgba(255, 255, 255, 0);
  }
  button:hover {
    box-shadow: none;
  }
  button:focus {
    outline: none;
  }
  Link {
    color: white;
  }
}
button.close {
  color: lightcoral !important;
  text-shadow: none;
  opacity: 1;
}

@media only screen and (max-width: 850px) {
  .itemCard {
    width: 95%;
    max-width: 350px;
  }
}
