

// --------------------
// Definition of variables
$primary: #1ebbff;
$marginBottomNavbar: 20px;
$navbarHeight: 60px;

// ----------------------------------------
// To install Boostrap:
// 1) Run in the client folder: $ npm i bootstrap
// 2) Import bootstrap with the following line
@import 'bootstrap/scss/bootstrap';
// ----------------------------------------


// --------------------
// Style reusable for all components
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white;
}

.info.info-danger {
  background-color: #e73f3f;
}

button {
  background-color: rgb(215, 121, 118);
  padding: 2px 15px;
  border: none;
  border-radius: 3px;
  color: white;
  box-shadow: 0 2px 5px grey;
}
button:hover {
  background-color: hsl(2, 55%, 60%);
}

// --------------------
// Style for App component
.App {
  .App-header {
    background-color: $primary;
    padding: 20px;
    color: white;

    a {
      color: white;
      padding: 0 5px;
      text-decoration: unset;
    }

    a.active {
      font-weight: bold;
    }
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }
}

.MainNavbar {
  height: $navbarHeight;
  margin-bottom: $marginBottomNavbar;
  .logo {
    height: 40px;
    padding-bottom: 4px;
  }
  .navbar-brand {
    padding: 4px 0 0 0;
  }
}

// --------------------
// Style for Home component
.Item {
  p {
    font-size: 1.2em;
  }
}

.Items {
  margin-top: -$marginBottomNavbar;

  .row {
    height: calc(100vh - #{$navbarHeight});
    
    .col-text {
      padding: 20px;
      overflow-y: scroll;

      h2 {
        text-align: center;
      }

      h4 {
        margin-top: 40px;
      }
    }

    .map {
      height: 100%;
      // height: calc(100vh - #{$navbarHeight});
    }
  }
}

.Login-signup-page, .Login, .Signup, {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.text-input{
  text-align: center;
  border-radius: 10px;
  letter-spacing: 1px;
  margin: 4px;
}

.or{
  display: flex;
}

.inner-or{
  display: flex;
  margin: auto;
}

hr{
    border: 0;
    height: 0;
    width:20vw;
    margin: auto 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.please-confirm{
  margin: 50px auto;
  text-align: center;
}

.please-confirm-image{
  margin-top: 50px;
}


// --------------------
// Style for Secret component
.Secret {
  .result {
    font-size: 1.2em;
    color: $primary;
  }
}

// --------------------
// Style for ItemCard component
.itemCard {
  display: flex;
  flex-flow: column;
  border-radius: 3px;
  box-shadow: 0 3px 15px lightgrey;
  margin: 10px;
  padding: 10px 0 20px;
  h5 {
    font-weight: bold;
    margin-left: 10px; 
  }

  .itemCard-img-wrapper {
    // width: auto;
    // height: 200px;
    img {
      margin: 0 auto;
      object-fit: contain;
      max-width: 100%;
      height: auto; 
    }
  }
  .itemCard-sub-img {
    display: flex;
    width: 100%;
    justify-content: space-between;
    h6 {
      margin: 10px;
    }
  }
  p {
    margin-left: 10px; 
  }
  .itemCard-btn-div {
    width: 100%;
    text-align: center;
  }
}